@using google_ads_api.services.Models
@model GoogleTokenDto

<button onclick="GetAuth()">

    GET AUTH!


</button>

@{
    if (Model.refresh_token != null)
    {
        <div id="ReturnRefreshTokenId"> @Model.refresh_token</div>

        <button   onclick="GetCustomerListButtonOnClick()"> get Customer List!</button>

        <div id="ResultDivId" style="display:none;"></div>


        <br />
        <br />
        <br />

        <div>
            <label> conversion value </label>   <input type="text" id="ConversionValueId" />  <br />

 

            <label> conversion action </label>   <input type="text" id="ConversionActionId" />  <br />


            <label>aşağıdakilerden sadece biri seçilir....</label>  <br />

            <label> gclid </label>   <input type="text" id="GclId" />  <br />

            <label> gbraid </label>   <input type="text" id="GbraId" />  <br />

            <label> wbraid </label>   <input type="text" id="WbraId" />  <br />

            <button onclick="UploadOfflineConversionOnClick()"> Upload Offline Conversion!</button>  <br />
        </div>
    }
}






