@using google_ads_api.services.Models
@model GoogleTokenDto

<button onclick="GetAuth()">

    GET AUTH!


</button>

@{
    if (Model.refresh_token != null)
    {
        <div id="ReturnRefreshTokenId"> @Model.refresh_token</div>

        <button   onclick="GetCustomerListButtonOnClick()"> get Customer List!</button>
    }
}






